force-app/main/default/flows/Account_Team_Member_Add_Edit_and_Delete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Updated_Values</name>
        <label>Assign Updated Values</label>
        <locationX>490</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varAccountTeamMember.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_2_of_Account_Access</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountTeamMember.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_2_of_Case_Access</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountTeamMember.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_2_of_Opportunity_Access</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_2_of_Team_Role</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountTeamMember.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Each_Member_to_Update.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCollectionTeamMember</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varAccountTeamMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Each_Member_to_Update</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Add</name>
        <choiceText>Add Account Team Member</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add Account Team Member</stringValue>
        </value>
    </choices>
    <choices>
        <name>Delete</name>
        <choiceText>Delete Account Team Member</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delete Account Team Member</stringValue>
        </value>
    </choices>
    <choices>
        <name>Private</name>
        <choiceText>Private</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <choices>
        <name>Read</name>
        <choiceText>Read Only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Read</stringValue>
        </value>
    </choices>
    <choices>
        <name>ReadWrite</name>
        <choiceText>Read/Write</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Edit</stringValue>
        </value>
    </choices>
    <choices>
        <name>Update</name>
        <choiceText>Update Account Team Member</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Update Account Team Member</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Action</name>
        <label>Check Action</label>
        <locationX>358</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Select_Team_Members_to_Delete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Delete</defaultConnectorLabel>
        <rules>
            <name>Add_Team_member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Add</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Team_Members_to_Add</targetReference>
            </connector>
            <label>Add Team member</label>
        </rules>
        <rules>
            <name>Edit_Team_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Update</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_Each_Member_to_Update</targetReference>
            </connector>
            <label>Edit Team Member</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>choiceAccountAccess</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AccountAccessLevel</picklistField>
        <picklistObject>AccountTeamMember</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceCaseAccess</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CaseAccessLevel</picklistField>
        <picklistObject>AccountTeamMember</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceOpportunityAccessLevel</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>OpportunityAccessLevel</picklistField>
        <picklistObject>AccountTeamMember</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceTeamMember</name>
        <dataType>String</dataType>
        <displayField>Id</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <object>AccountTeamMember</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceTeamRole</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TeamMemberRole</picklistField>
        <picklistObject>AccountTeamMember</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Account Team Member (Add, Edit and Delete) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Team Member (Add, Edit and Delete)</label>
    <loops>
        <name>Loop_on_Each_Member_to_Update</name>
        <label>Loop on Each Member to Update</label>
        <locationX>402</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_All_Account_Team_Member</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Team_Members_Screen</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Team_Members</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Account_Team_Members</name>
        <label>Create Account Team Members</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Confirmation_Screen_Created</targetReference>
        </connector>
        <inputReference>varCollectionTeamMember</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Team_Members</name>
        <label>Delete Team Members</label>
        <locationX>666</locationX>
        <locationY>782</locationY>
        <inputReference>testTable.selectedRows</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>358</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Account_Team_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Account_Team_Member</name>
        <label>Get All Account Team Member</label>
        <locationX>358</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Action_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Team_Members</name>
        <label>Update Team Members</label>
        <locationX>402</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Confirmation_Screen_Updated</targetReference>
        </connector>
        <inputReference>varCollectionTeamMember</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>666</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Delete_Team_Members</targetReference>
        </connector>
        <fields>
            <name>Confirmation_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Are you sure you want to remove these Account Team Members?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen_Created</name>
        <label>Confirmation Screen - Created</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Confirmation_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Account Team Members is succesfully added.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen_Updated</name>
        <label>Confirmation Screen - Updated</label>
        <locationX>402</locationX>
        <locationY>1082</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_2_of_Confirmation_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Account Team Members is successfully updated.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Action_Screen</name>
        <label>Select Action Screen</label>
        <locationX>358</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Action</targetReference>
        </connector>
        <fields>
            <name>Please_select_action</name>
            <choiceReferences>Add</choiceReferences>
            <choiceReferences>Update</choiceReferences>
            <choiceReferences>Delete</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please Select Action:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Team_Members_to_Add</name>
        <label>Select Team Members to Add</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Account_Team_Members</targetReference>
        </connector>
        <fields>
            <name>PleaseAddTeamMember</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Please Add Team Member&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>repeaterTeamMember</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>userLookup</name>
                <extensionName>flowruntime:lookup</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputParameters>
                    <name>objectApiName</name>
                    <value>
                        <stringValue>User</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>fieldApiName</name>
                    <value>
                        <stringValue>CreatedById</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>label</name>
                    <value>
                        <stringValue>User</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>required</name>
                    <value>
                        <booleanValue>true</booleanValue>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
            </fields>
            <fields>
                <name>Team_Role</name>
                <choiceReferences>choiceTeamRole</choiceReferences>
                <dataType>String</dataType>
                <fieldText>Team Role</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Account_Access</name>
                <choiceReferences>Read</choiceReferences>
                <choiceReferences>ReadWrite</choiceReferences>
                <dataType>String</dataType>
                <defaultSelectedChoiceReference>Read</defaultSelectedChoiceReference>
                <fieldText>Account Access</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Case_Access</name>
                <choiceReferences>Read</choiceReferences>
                <choiceReferences>ReadWrite</choiceReferences>
                <choiceReferences>Private</choiceReferences>
                <dataType>String</dataType>
                <defaultSelectedChoiceReference>Private</defaultSelectedChoiceReference>
                <fieldText>Case Access</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Opportunity_Access</name>
                <choiceReferences>Read</choiceReferences>
                <choiceReferences>ReadWrite</choiceReferences>
                <choiceReferences>Private</choiceReferences>
                <dataType>String</dataType>
                <defaultSelectedChoiceReference>Private</defaultSelectedChoiceReference>
                <fieldText>Opportunity Access</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Team_Members_to_Delete</name>
        <label>Select Team Members to Delete</label>
        <locationX>666</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <fields>
            <name>testTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>AccountTeamMember</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_All_Account_Team_Member</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name__c&quot;,&quot;guid&quot;:&quot;column-7bc3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;TeamMemberRole&quot;,&quot;guid&quot;:&quot;column-b103&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Team Role&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;AccountAccessLevel&quot;,&quot;guid&quot;:&quot;column-64c9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Account Access&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;CaseAccessLevel&quot;,&quot;guid&quot;:&quot;column-96bf&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Case Access&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;OpportunityAccessLevel&quot;,&quot;guid&quot;:&quot;column-db5b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Opportunity Access&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Update_Team_Members_Screen</name>
        <label>Update Team Members Screen</label>
        <locationX>490</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Updated_Values</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_PleaseAddTeamMember</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Please Check Each Team Member&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_2_of_userLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CreatedById</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Loop_on_Each_Member_to_Update.UserId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Copy_2_of_Team_Role</name>
            <choiceReferences>choiceTeamRole</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Loop_on_Each_Member_to_Update.TeamMemberRole</elementReference>
            </defaultValue>
            <fieldText>Team Role</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Copy_2_of_Account_Access</name>
            <choiceReferences>Read</choiceReferences>
            <choiceReferences>ReadWrite</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Loop_on_Each_Member_to_Update.AccountAccessLevel</elementReference>
            </defaultValue>
            <fieldText>Account Access</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Copy_2_of_Case_Access</name>
            <choiceReferences>Read</choiceReferences>
            <choiceReferences>ReadWrite</choiceReferences>
            <choiceReferences>Private</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Loop_on_Each_Member_to_Update.CaseAccessLevel</elementReference>
            </defaultValue>
            <fieldText>Case Access</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Copy_2_of_Opportunity_Access</name>
            <choiceReferences>Read</choiceReferences>
            <choiceReferences>ReadWrite</choiceReferences>
            <choiceReferences>Private</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Loop_on_Each_Member_to_Update.OpportunityAccessLevel</elementReference>
            </defaultValue>
            <fieldText>Opportunity Access</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>varCollectionTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
</Flow>
