force-app/main/default/flows/Case_Submit_For_CAF_Form_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>sendCustomNotification</name>
        <label>sendCustomNotificationForm</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>variableApproverIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>textTemplateFormSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>textTemplateFormBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>getCaseRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>sendCustomNotificationPEP</name>
        <label>sendCustomNotificationPEP</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>variableApproverIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>textTemplateFormSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>textTemplateFormBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>getCaseRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>submitForApproval</name>
        <label>submitForApproval</label>
        <locationX>578</locationX>
        <locationY>1514</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <elementReference>variableComments</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nextApproverIds</name>
            <value>
                <elementReference>variableApproverIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <elementReference>variableApprovalProcess</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Error</name>
        <label>Assign Error</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>var_Error</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>ApproverSelection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignApproverId</name>
        <label>assignApproverId</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>variableApproverIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Approver.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>variableComments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignFormApproval</name>
        <label>assignFormApproval</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>variableApprovalProcess</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CAF_Form_Approval</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sendCustomNotification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignPEP_SIP_RCAApproval</name>
        <label>assignPEP/SIP/RCAApproval</label>
        <locationX>578</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>variableApprovalProcess</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PEP_SIP_RCA_Approval</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sendCustomNotificationPEP</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_Status</name>
        <label>Case Status</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Update_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CAF_Form_Completion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCaseRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CAF Form Completion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignFormApproval</targetReference>
            </connector>
            <label>CAF Form Completion</label>
        </rules>
        <rules>
            <name>Compliance_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCaseRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Compliance Check</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignPEP_SIP_RCAApproval</targetReference>
            </connector>
            <label>Compliance Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Approver</name>
        <label>Check Approver</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>assignApproverId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valid Approver</defaultConnectorLabel>
        <rules>
            <name>Invalid_Approver</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Approver.Department</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Operations - Business Services</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Error</targetReference>
            </connector>
            <label>Invalid Approver</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_In_Progress_Approvals</name>
        <label>Check In Progress Approvals</label>
        <locationX>666</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>In Progress Approval</defaultConnectorLabel>
        <rules>
            <name>No_Approvals</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_In_Progress_Approval</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getNotification</targetReference>
            </connector>
            <label>No Approvals</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>picklist_ClientAmendment</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Client_Amendment__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Case: Submit For CAF Form Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case: Submit For CAF Form Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Approver</name>
        <label>Get Approver</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Approver</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Approver.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_In_Progress_Approval</name>
        <label>Get In Progress Approval</label>
        <locationX>666</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_In_Progress_Approvals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TargetObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstance</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCaseRecord</name>
        <label>getCaseRecord</label>
        <locationX>666</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_In_Progress_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getNotification</name>
        <label>getNotification</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ApproverSelection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CustomNotifTypeName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CAF Form Approved</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>578</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>submitForApproval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCaseRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Client_Amendment__c</field>
            <value>
                <elementReference>Client_Amendment</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>ApproverSelection</name>
        <label>ApproverSelection</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Approver</targetReference>
        </connector>
        <fields>
            <name>SelectApprover</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Please select your approver:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ApproverSelection_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ApproverSelection_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Approver</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>CreatedById</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Approver</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>User</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>error_message</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em style=&quot;color: rgb(255, 0, 0);&quot;&gt;An LC cant be selected to approve this approval&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_Error</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Comments</name>
                    <fieldText>Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Client_Amendment</name>
                    <choiceReferences>picklist_ClientAmendment</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getCaseRecord.Client_Amendment__c</elementReference>
                    </defaultValue>
                    <fieldText>Client Amendment</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ApproverSelection_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1018</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>message_Error</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;There is already an Approval In Progress that needs to be reviewed.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>540</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getCaseRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>textTemplateBodyPEP</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A Form PEP/SIP/RCA request has been assigned to you for {!getCaseRecord.Account.Name}- {!getCaseRecord.CaseNumber}. Please review and take action.</text>
    </textTemplates>
    <textTemplates>
        <name>textTemplateFormBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A Form approval request has been assigned to you for {!getCaseRecord.Account.Name}- {!getCaseRecord.CaseNumber}. Please review and take action.</text>
    </textTemplates>
    <textTemplates>
        <name>textTemplateFormSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Approval Request for Form on {!getCaseRecord.Account.Name} - {!getCaseRecord.CaseNumber}</text>
    </textTemplates>
    <textTemplates>
        <name>textTemplateTitlePEP</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Approval Request for  PEP/SIP/RCA on {!getCaseRecord.Account.Name} - {!getCaseRecord.CaseNumber}</text>
    </textTemplates>
    <variables>
        <name>approverId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Error</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>variableApprovalProcess</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>variableApproverIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>variableComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
