force-app/main/default/flows/Error_Logs_Screenflow_Trigger_Platform_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>Check_Source_System</name>
        <label>Check Source System</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Create_Platform_Event_Reprocess_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NetSuite, People First, Active Directory, or Other</defaultConnectorLabel>
        <rules>
            <name>Salesforce</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Error_Log.Source_System__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Salesforce</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Platform_Event_Reprocess_Event_Salesforce</targetReference>
            </connector>
            <label>Salesforce</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Error Logs - Screenflow: Trigger Platform Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Error Logs - Screenflow: Trigger Platform Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Platform_Event_Reprocess_Event</name>
        <label>Create Platform Event - Reprocess Event</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Update_Error_Log_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Error_Log_ID__c</field>
            <value>
                <elementReference>Get_Error_Log.Error_Log_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Type__c</field>
            <value>
                <elementReference>Get_Error_Log.Event_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Payload__c</field>
            <value>
                <elementReference>Get_Error_Log.Original_Payload__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unique_ID__c</field>
            <value>
                <elementReference>Get_Error_Log.Unique_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>Reprocess_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Platform_Event_Reprocess_Event_Salesforce</name>
        <label>Create Platform Event - Reprocess Event Salesforce</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Update_Error_Log_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Error_Log_ID__c</field>
            <value>
                <elementReference>Get_Error_Log.Error_Log_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Type__c</field>
            <value>
                <elementReference>Get_Error_Log.Event_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Payload__c</field>
            <value>
                <elementReference>Get_Error_Log.Original_Payload__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unique_ID__c</field>
            <value>
                <elementReference>Get_Error_Log.Unique_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>Reprocess_Salesforce_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Error_Log</name>
        <label>Get Error Log</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Source_System</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Error_Logs__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Error_Log_Status</name>
        <label>Update Error Log Status</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Replayed</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Logs__c</object>
    </recordUpdates>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>success_message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Platform Event has been published.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Error_Log</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
