force-app/main/default/flows/Opportunity_Status_is_changed_to_Closed_Lost.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_RR_variables</name>
        <label>Assign RR variables</label>
        <locationX>138</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varRR.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_all_RR.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRR.pse__Exclude_from_Planners__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRR.pse__Exclude_From_Utilization__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colRR</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varRR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_RR</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_RR</name>
        <label>Found RR</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Found_RR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Not_Cancelled_Resource_Requests</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_all_RR</targetReference>
            </connector>
            <label>Yes - Found RR</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity: Status is changed to Closed Lost {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Status is changed to Closed Lost</label>
    <loops>
        <name>Loop_through_all_RR</name>
        <label>Loop through all RR</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Not_Cancelled_Resource_Requests</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_RR_variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_RR</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Not_Cancelled_Resource_Requests</name>
        <label>Get Not Cancelled Resource Requests</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_RR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>pse__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pse__Resource_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_RR</name>
        <label>Update RR</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <inputReference>colRR</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Not_Cancelled_Resource_Requests</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>{!$Setup.Org_Wide_Settings__c.Disable_Flows__c} = false &amp;&amp;
TEXT({!$Record.StageName}) = &apos;Closed Lost&apos;</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>colRR</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Resource_Request__c</objectType>
    </variables>
    <variables>
        <name>varRR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Resource_Request__c</objectType>
    </variables>
</Flow>
