force-app/main/default/flows/Opportunity_Update_Naming_Convention.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Account_has_CP_Office</name>
        <label>Account has CP Office?</label>
        <locationX>275</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Update_Opp_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_has_CP_Office</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.CP_Office__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_Name_and_CP_Office</targetReference>
            </connector>
            <label>Yes has CP Office</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Area</name>
        <label>Opportunity Area</label>
        <locationX>473</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_deals</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity_Area__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Deals</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_has_CP_Office</targetReference>
            </connector>
            <label>Not deals</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type</name>
        <label>Record Type</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Area</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <label>Renewal</label>
        </rules>
    </decisions>
    <description>Updating Opp Name - removed Renewal Update - update to push through DevOps</description>
    <environments>Default</environments>
    <formulas>
        <name>F_OppName</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Account.IsPersonAccount} = false, 
{!$Record.Account.Name} + &quot; - &quot; + TEXT({!$Record.Opportunity_Area__c}), 
{!$Record.Account.FirstName} + &quot; &quot; +{!$Record.Account.LastName} + &quot; - &quot; + TEXT({!$Record.Opportunity_Area__c}))</expression>
    </formulas>
    <formulas>
        <name>renewalOppName_formula</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account.Name}&amp;&quot; - &quot;&amp;TEXT({!$Record.Opportunity_Area__c})&amp;&quot; - &quot;&amp;TEXT(YEAR({!$Flow.CurrentDate}))</expression>
    </formulas>
    <interviewLabel>Opportunity - Update Naming Convention {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Update Naming Convention</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Opp_Name</name>
        <label>Update Opp Name</label>
        <locationX>407</locationX>
        <locationY>611</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>F_OppName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_Name_and_CP_Office</name>
        <label>Update Opp Name and CP Office</label>
        <locationX>143</locationX>
        <locationY>611</locationY>
        <inputAssignments>
            <field>CP_Office__c</field>
            <value>
                <elementReference>$Record.Account.CP_Office__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>F_OppName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_Type</targetReference>
        </connector>
        <filterFormula>AND(NOT({!$Setup.Org_Wide_Settings__c.Disable_Flows__c}),
{!$Record.RecordType.DeveloperName} != &quot;Corporate_Opportunity&quot; )</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
