force-app/main/default/flows/Opportunity_Partner_Approval_Reminder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>50</locationX>
        <locationY>792</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>recipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Reminder: Pending Estimate Approval Required</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_recipient</name>
        <label>Assign recipient</label>
        <locationX>50</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_ProcessInstanceWorkitem.Actor:User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_Pending_Approval</name>
        <label>Found Pending Approval</label>
        <locationX>336</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Found_Pending_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Approval</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ProcessInstanceWorkitem</targetReference>
            </connector>
            <label>Yes - Found Pending Approval</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_ProcessInstanceWorkitem</name>
        <label>Found ProcessInstanceWorkitem</label>
        <locationX>182</locationX>
        <locationY>576</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Found_ProcessInstanceWorkitem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ProcessInstanceWorkitem</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_recipient</targetReference>
            </connector>
            <label>Yes - Found ProcessInstanceWorkitem</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>oppUrl</name>
        <dataType>String</dataType>
        <expression>LEFT($Api.Partner_Server_URL_260, FIND( &apos;/services&apos;, $Api.Partner_Server_URL_260)) &amp; {!$Record.Id}</expression>
    </formulas>
    <interviewLabel>Opportunity: Partner Approval Reminder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Partner Approval Reminder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Approval</name>
        <label>Get Approval</label>
        <locationX>336</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Pending_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TargetObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstance</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ProcessInstanceWorkitem</name>
        <label>Get ProcessInstanceWorkitem</label>
        <locationX>182</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_ProcessInstanceWorkitem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProcessInstanceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Approval.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstanceWorkitem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>THG_Audit_Partner_Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Send_Partner_Approval_Today__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-12-19</startDate>
            <startTime>09:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>emailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!Get_ProcessInstanceWorkitem.Actor:User.FirstName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This is a reminder that an Opportunity awaits your approval and has not received a response within 2 days of the initial request.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Details:&lt;/p&gt;&lt;p&gt;Opportunity: {!$Record.Name}&lt;/p&gt;&lt;p&gt;Client Name: {!$Record.Account.Name}&lt;/p&gt;&lt;p&gt;Amount: {!$Record.Amount}&lt;/p&gt;&lt;p&gt;Submitted By: {!Get_Approval.CreatedBy.FirstName} &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Approval.CreatedBy.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Submission Date: {!Get_Approval.CreatedDate}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please review and respond to the estimate at your earliest convenience.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Link to Opportunity: {!oppUrl}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Kind regards,&lt;/p&gt;&lt;p&gt;Salesforce&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>recipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
