force-app/main/default/flows/Project_Update_Confidential_Area_on_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Confidential_Area_on_the_Account_OR_Opp_Populated</name>
        <label>Confidential Area on the Account OR Opp Populated</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Confidential Area Not Populated</defaultConnectorLabel>
        <rules>
            <name>Confidential_Area_Populated</name>
            <conditionLogic>(1 AND 3) OR (2 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Account__r.CP_Confidential_Area__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Opportunity__r.CP_Confidential_Area__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Account__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Opportunity__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Confidential_Area</targetReference>
            </connector>
            <label>Confidential Area Populated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Project: Update Confidential Area on Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project: Update Confidential Area on Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Confidential_Area</name>
        <label>Update Confidential Area</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Confidential_Area__c</field>
            <value>
                <elementReference>$Record.pse__Account__r.CP_Confidential_Area__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Confidential_Area__c</field>
            <value>
                <elementReference>$Record.pse__Opportunity__r.CP_Confidential_Area__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Confidential_Area_on_the_Account_OR_Opp_Populated</targetReference>
        </connector>
        <object>pse__Proj__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
