force-app/main/default/flows/Survey_Invitation_Scheduled_Flow_Send_Follow_up_Survey_Invitations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Survey_Reminder_2</name>
        <label>Copy 1 of Survey Reminder 2</label>
        <locationX>314</locationX>
        <locationY>468</locationY>
        <actionName>sendSurveyInvitation</actionName>
        <actionType>sendSurveyInvitation</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>surveyName</name>
            <value>
                <stringValue>firm_wide_survey</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateName</name>
            <value>
                <stringValue>Embed_a_Survey_Link_Reminder_2_1736441966295</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipient</name>
            <value>
                <elementReference>$Record.Contact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>personalInvitation</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>anonymousResponse</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isUnauthenticatedResponse</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>autoExpiryDays</name>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>sendSurveyInvitation</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Survey_Reminder_2</name>
        <label>Survey Reminder 2</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <actionName>sendSurveyInvitation</actionName>
        <actionType>sendSurveyInvitation</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>surveyName</name>
            <value>
                <stringValue>firm_wide_survey</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateName</name>
            <value>
                <stringValue>Embed_a_Survey_Link_Reminder_1_1736441886233</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipient</name>
            <value>
                <elementReference>$Record.Contact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>personalInvitation</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>anonymousResponse</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isUnauthenticatedResponse</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>autoExpiryDays</name>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>sendSurveyInvitation</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Check_2nd_Survey_Invitation</name>
        <label>Check 2nd Survey Invitation</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Survey_Reminder_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Send_3rd_Invitation</defaultConnectorLabel>
        <rules>
            <name>Send_2nd_Invitation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.X2nd_Survey_Invitation__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Survey_Reminder_2</targetReference>
            </connector>
            <label>Send 2nd Invitation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Date</name>
        <label>Check Date</label>
        <locationX>380</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>X7_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>formula_7Days</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_2nd_Survey_Invitation</targetReference>
            </connector>
            <label>7 Days</label>
        </rules>
    </decisions>
    <description>Sends a follow up Survey Invitation if the Survey is not yet completed.</description>
    <environments>Default</environments>
    <formulas>
        <name>formula_14Days</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CreatedDate} + 14</expression>
    </formulas>
    <formulas>
        <name>formula_7Days</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Created_Date_Custom__c} + 7</expression>
    </formulas>
    <interviewLabel>Survey Invitation - Scheduled Flow: Send Follow up Survey Invitations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Survey - Invitation reminder 7 and 14 days</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ResponseStatus</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>X3rd_Survey_Invitation__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>SurveyInvitation</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2025-02-06</startDate>
            <startTime>17:26:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
