force-app/main/default/flows/Survey_Adding_Campaign_Members.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Check_Month</name>
        <label>Check Month</label>
        <locationX>1634</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>January</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Field_Advocacy_Survey_Send_Month__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>January</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign_Jan</targetReference>
            </connector>
            <label>January</label>
        </rules>
        <rules>
            <name>February</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Field_Advocacy_Survey_Send_Month__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>February</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign_Feb</targetReference>
            </connector>
            <label>February</label>
        </rules>
        <rules>
            <name>March</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Field_Advocacy_Survey_Send_Month__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>March</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign_March</targetReference>
            </connector>
            <label>March</label>
        </rules>
        <rules>
            <name>April</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Field_Advocacy_Survey_Send_Month__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>April</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign_April</targetReference>
            </connector>
            <label>April</label>
        </rules>
        <rules>
            <name>May</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Field_Advocacy_Survey_Send_Month__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>May</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign_May</targetReference>
            </connector>
            <label>May</label>
        </rules>
        <rules>
            <name>June</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Field_Advocacy_Survey_Send_Month__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>June</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign_June</targetReference>
            </connector>
            <label>June</label>
        </rules>
        <rules>
            <name>July</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Field_Advocacy_Survey_Send_Month__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>July</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign_July</targetReference>
            </connector>
            <label>July</label>
        </rules>
        <rules>
            <name>August</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Field_Advocacy_Survey_Send_Month__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>August</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign_August</targetReference>
            </connector>
            <label>August</label>
        </rules>
        <rules>
            <name>September</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Field_Advocacy_Survey_Send_Month__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>September</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign_Sept</targetReference>
            </connector>
            <label>September</label>
        </rules>
        <rules>
            <name>October</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Field_Advocacy_Survey_Send_Month__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>October</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign_Oct</targetReference>
            </connector>
            <label>October</label>
        </rules>
        <rules>
            <name>November</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Field_Advocacy_Survey_Send_Month__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>November</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign_Nov</targetReference>
            </connector>
            <label>November</label>
        </rules>
        <rules>
            <name>December</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Field_Advocacy_Survey_Send_Month__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>December</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign_December</targetReference>
            </connector>
            <label>December</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>THISYEAR</name>
        <dataType>Boolean</dataType>
        <expression>YEAR({!$Record.Field_Advocacy_Survey_Send_Month_Calc__c}) = YEAR(TODAY())</expression>
    </formulas>
    <formulas>
        <name>THISYEAR2</name>
        <dataType>Boolean</dataType>
        <expression>YEAR({!$Record.Field_Advocacy_Survey_Send_Month_Calc__c}) = YEAR(TODAY())</expression>
    </formulas>
    <interviewLabel>Survey - Adding Campaign Members {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Survey - Adding Campaign Members</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Campaign_Member_Apr</name>
        <label>Create Campaign Member Apr</label>
        <locationX>842</locationX>
        <locationY>468</locationY>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Get_Campaign_April.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Added</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Campaign_Member_Aug</name>
        <label>Create Campaign Member Aug</label>
        <locationX>1898</locationX>
        <locationY>468</locationY>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Get_Campaign_August.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Added</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Campaign_Member_Dec</name>
        <label>Create Campaign Member Dec</label>
        <locationX>2954</locationX>
        <locationY>468</locationY>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Get_Campaign_December.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Added</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Campaign_Member_Feb</name>
        <label>Create Campaign Member Feb</label>
        <locationX>314</locationX>
        <locationY>468</locationY>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Get_Campaign_Feb.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Added</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Campaign_Member_Jan</name>
        <label>Create Campaign Member Jan</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Get_Campaign_Jan.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Added</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Campaign_Member_Jul</name>
        <label>Create Campaign Member Jul</label>
        <locationX>1634</locationX>
        <locationY>468</locationY>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Get_Campaign_July.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Added</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Campaign_Member_Jun</name>
        <label>Create Campaign Member Jun</label>
        <locationX>1370</locationX>
        <locationY>468</locationY>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Get_Campaign_June.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Added</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Campaign_Member_Mar</name>
        <label>Create Campaign Member Mar</label>
        <locationX>578</locationX>
        <locationY>468</locationY>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Get_Campaign_March.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Added</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Campaign_Member_May</name>
        <label>Create Campaign Member May</label>
        <locationX>1106</locationX>
        <locationY>468</locationY>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Get_Campaign_May.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Added</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Campaign_Member_Nov</name>
        <label>Create Campaign Member Nov</label>
        <locationX>2690</locationX>
        <locationY>468</locationY>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Get_Campaign_Nov.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Added</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Campaign_Member_Oct</name>
        <label>Create Campaign Member Oct</label>
        <locationX>2426</locationX>
        <locationY>468</locationY>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Get_Campaign_Oct.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Added</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Campaign_Member_Sep</name>
        <label>Create Campaign Member Sep</label>
        <locationX>2162</locationX>
        <locationY>468</locationY>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Get_Campaign_Sept.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Added</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Campaign_April</name>
        <label>Get Campaign - April</label>
        <locationX>842</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Campaign_Member_Apr</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>April - Advocacy Survey</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_August</name>
        <label>Get Campaign - August</label>
        <locationX>1898</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Campaign_Member_Aug</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>August - Advocacy Survey</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_December</name>
        <label>Get Campaign - December</label>
        <locationX>2954</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Campaign_Member_Dec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>December - Advocacy Survey</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_Feb</name>
        <label>Get Campaign - Feb</label>
        <locationX>314</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Campaign_Member_Feb</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>February - Advocacy Survey</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_Jan</name>
        <label>Get Campaign - Jan</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Campaign_Member_Jan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>January - Advocacy Survey</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_July</name>
        <label>Get Campaign - July</label>
        <locationX>1634</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Campaign_Member_Jul</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>July - Advocacy Survey</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_June</name>
        <label>Get Campaign - June</label>
        <locationX>1370</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Campaign_Member_Jun</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>June - Advocacy Survey</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_March</name>
        <label>Get Campaign - March</label>
        <locationX>578</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Campaign_Member_Mar</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>March - Advocacy Survey</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_May</name>
        <label>Get Campaign - May</label>
        <locationX>1106</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Campaign_Member_May</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>May - Advocacy Survey</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_Nov</name>
        <label>Get Campaign - Nov</label>
        <locationX>2690</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Campaign_Member_Nov</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>November - Advocacy Survey</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_Oct</name>
        <label>Get Campaign - Oct</label>
        <locationX>2426</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Campaign_Member_Oct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>October - Advocacy Survey</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_Sept</name>
        <label>Get Campaign - Sept</label>
        <locationX>2162</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Campaign_Member_Sep</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>September - Advocacy Survey</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>1634</locationX>
        <locationY>660</locationY>
        <inputAssignments>
            <field>Contact_added_to_Campaign__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1508</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Month</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Should_be_sent_survey__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contact_added_to_Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2025-01-23</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
