force-app/main/default/flows/Survey_NPS_Score_6_or_Less.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_2_of_Create_a_New_Task_Action</name>
        <label>Copy 2 of Create a New Task Action</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Passive NPS Score follow up</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>FutureDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhoId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_3_of_Create_a_New_Task_Action</name>
        <label>Copy 3 of Create a New Task Action</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Promoter NPS Score follow up</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>FutureDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhoId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Create_a_New_Task_Action</name>
        <label>Create a New Task Action</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Detractor NPS Score follow up</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>FutureDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhoId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Survey_NPS_Score_Greater_than_7</name>
        <label>Survey NPS Score Greater than 7</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>Contact.Survey_NPS_Score_Greater_than_7</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Copy_2_of_Create_a_New_Task_Action</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.Survey_NPS_Score_Greater_than_7</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Survey_NPS_Score_Greater_than_9</name>
        <label>Survey NPS Score Greater than 9</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <actionName>Contact.Survey_NPS_Score_Greater_than_9</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Copy_3_of_Create_a_New_Task_Action</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.Survey_NPS_Score_Greater_than_9</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Survey_NPS_Score_Less_than_6_Action_1</name>
        <label>Survey NPS Score Less than 6 Action 1</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>Contact.Survey_NPS_Score_Less_than_6</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_a_New_Task_Action</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.Survey_NPS_Score_Less_than_6</nameSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Current_NPS_Score_Decision</name>
        <label>Current NPS Score Decision</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Score_less_than_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.How_likely_is_it_you_would_recommend_CP__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Survey_NPS_Score_Less_than_6_Action_1</targetReference>
            </connector>
            <label>Score less than 6</label>
        </rules>
        <rules>
            <name>Score_greater_than_6</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.How_likely_is_it_you_would_recommend_CP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.How_likely_is_it_you_would_recommend_CP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>8.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Survey_NPS_Score_Greater_than_7</targetReference>
            </connector>
            <label>Score greater than 6</label>
        </rules>
        <rules>
            <name>Score_is_9_or_10</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.How_likely_is_it_you_would_recommend_CP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>9.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.How_likely_is_it_you_would_recommend_CP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Survey_NPS_Score_Greater_than_9</targetReference>
            </connector>
            <label>Score is 9 or 10</label>
        </rules>
    </decisions>
    <description>This flow sends a notification to specific internal users depending on a Contact&apos;s survey response score, specifically their NPS score.</description>
    <environments>Default</environments>
    <formulas>
        <name>FutureDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 4</expression>
    </formulas>
    <interviewLabel>Survey NPS Score 6 or Less {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Survey - NPS Score Internal Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Current_NPS_Score_Decision</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>How_likely_is_it_you_would_recommend_CP__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>How_likely_is_it_you_would_recommend_CP__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>temp11</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
