force-app/main/default/flows/Survey_Trigger_Adding_of_Campaign_Members.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>Account_is_a_Client</name>
        <label>Account is a Client</label>
        <locationX>2514</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Client</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012J5000000XdlcIAC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Month</targetReference>
            </connector>
            <label>Client</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Month</name>
        <label>Check Month</label>
        <locationX>1634</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Update_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>January</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Field_Advocacy_Survey_Send_Month__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>January</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign_1</targetReference>
            </connector>
            <label>January</label>
        </rules>
        <rules>
            <name>February</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Field_Advocacy_Survey_Send_Month__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>February</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign_2</targetReference>
            </connector>
            <label>February</label>
        </rules>
        <rules>
            <name>March</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Field_Advocacy_Survey_Send_Month__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>March</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign_3</targetReference>
            </connector>
            <label>March</label>
        </rules>
        <rules>
            <name>April</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Field_Advocacy_Survey_Send_Month__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>April</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign_4</targetReference>
            </connector>
            <label>April</label>
        </rules>
        <rules>
            <name>May</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Field_Advocacy_Survey_Send_Month__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>May</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign_5</targetReference>
            </connector>
            <label>May</label>
        </rules>
        <rules>
            <name>June</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Field_Advocacy_Survey_Send_Month__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>June</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign_6</targetReference>
            </connector>
            <label>June</label>
        </rules>
        <rules>
            <name>July</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Field_Advocacy_Survey_Send_Month__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>July</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign_7</targetReference>
            </connector>
            <label>July</label>
        </rules>
        <rules>
            <name>August</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Field_Advocacy_Survey_Send_Month__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>August</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign_8</targetReference>
            </connector>
            <label>August</label>
        </rules>
        <rules>
            <name>September</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Field_Advocacy_Survey_Send_Month__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>September</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign_9</targetReference>
            </connector>
            <label>September</label>
        </rules>
        <rules>
            <name>October</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Field_Advocacy_Survey_Send_Month__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>October</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign_10</targetReference>
            </connector>
            <label>October</label>
        </rules>
        <rules>
            <name>November</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Field_Advocacy_Survey_Send_Month__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>November</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign_11</targetReference>
            </connector>
            <label>November</label>
        </rules>
        <rules>
            <name>December</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Field_Advocacy_Survey_Send_Month__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>December</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign_12</targetReference>
            </connector>
            <label>December</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Survey - Trigger Adding of Campaign Members {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Survey - Trigger Adding of Campaign Members</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_10_of_Create_Campaign_Member_1</name>
        <label>Copy 10 of Create Campaign Member - 1</label>
        <locationX>2690</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>store_Campaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Added</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_11_of_Create_Campaign_Member_1</name>
        <label>Copy 11 of Create Campaign Member - 1</label>
        <locationX>2954</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>store_Campaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Added</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Create_Campaign_Member_1</name>
        <label>Copy 1 of Create Campaign Member - 1</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>store_Campaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Added</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_Create_Campaign_Member_1</name>
        <label>Copy 2 of Create Campaign Member - 1</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>store_Campaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Added</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_3_of_Create_Campaign_Member_1</name>
        <label>Copy 3 of Create Campaign Member - 1</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>store_Campaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Added</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_4_of_Create_Campaign_Member_1</name>
        <label>Copy 4 of Create Campaign Member - 1</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>store_Campaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Added</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_5_of_Create_Campaign_Member_1</name>
        <label>Copy 5 of Create Campaign Member - 1</label>
        <locationX>1370</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>store_Campaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Added</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_6_of_Create_Campaign_Member_1</name>
        <label>Copy 6 of Create Campaign Member - 1</label>
        <locationX>1634</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>store_Campaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Added</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_7_of_Create_Campaign_Member_1</name>
        <label>Copy 7 of Create Campaign Member - 1</label>
        <locationX>1898</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>store_Campaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Added</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_8_of_Create_Campaign_Member_1</name>
        <label>Copy 8 of Create Campaign Member - 1</label>
        <locationX>2162</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>store_Campaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Added</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_9_of_Create_Campaign_Member_1</name>
        <label>Copy 9 of Create Campaign Member - 1</label>
        <locationX>2426</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>store_Campaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Added</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Campaign_Member_1</name>
        <label>Create Campaign Member - 1</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>store_Campaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Added</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Campaign_1</name>
        <label>Get Campaign - 1</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Campaign_Member_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>January - Advocacy Survey</stringValue>
            </value>
        </filters>
        <object>Campaign</object>
        <outputReference>store_Campaign</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_10</name>
        <label>Get Campaign - 10</label>
        <locationX>2426</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_9_of_Create_Campaign_Member_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>October - Advocacy Survey</stringValue>
            </value>
        </filters>
        <object>Campaign</object>
        <outputReference>store_Campaign</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_11</name>
        <label>Get Campaign - 11</label>
        <locationX>2690</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_10_of_Create_Campaign_Member_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>November - Advocacy Survey</stringValue>
            </value>
        </filters>
        <object>Campaign</object>
        <outputReference>store_Campaign</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_12</name>
        <label>Get Campaign - 12</label>
        <locationX>2954</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_11_of_Create_Campaign_Member_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>December - Advocacy Survey</stringValue>
            </value>
        </filters>
        <object>Campaign</object>
        <outputReference>store_Campaign</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_2</name>
        <label>Get Campaign - 2</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Create_Campaign_Member_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>February - Advocacy Survey</stringValue>
            </value>
        </filters>
        <object>Campaign</object>
        <outputReference>store_Campaign</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_3</name>
        <label>Get Campaign - 3</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Create_Campaign_Member_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>March - Advocacy Survey</stringValue>
            </value>
        </filters>
        <object>Campaign</object>
        <outputReference>store_Campaign</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_4</name>
        <label>Get Campaign - 4</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_3_of_Create_Campaign_Member_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>April - Advocacy Survey</stringValue>
            </value>
        </filters>
        <object>Campaign</object>
        <outputReference>store_Campaign</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_5</name>
        <label>Get Campaign - 5</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_4_of_Create_Campaign_Member_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>May - Advocacy Survey</stringValue>
            </value>
        </filters>
        <object>Campaign</object>
        <outputReference>store_Campaign</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_6</name>
        <label>Get Campaign - 6</label>
        <locationX>1370</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_5_of_Create_Campaign_Member_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>June - Advocacy Survey</stringValue>
            </value>
        </filters>
        <object>Campaign</object>
        <outputReference>store_Campaign</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_7</name>
        <label>Get Campaign - 7</label>
        <locationX>1634</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_6_of_Create_Campaign_Member_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>July - Advocacy Survey</stringValue>
            </value>
        </filters>
        <object>Campaign</object>
        <outputReference>store_Campaign</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_8</name>
        <label>Get Campaign - 8</label>
        <locationX>1898</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_7_of_Create_Campaign_Member_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>August - Advocacy Survey</stringValue>
            </value>
        </filters>
        <object>Campaign</object>
        <outputReference>store_Campaign</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_9</name>
        <label>Get Campaign - 9</label>
        <locationX>2162</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_8_of_Create_Campaign_Member_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>September - Advocacy Survey</stringValue>
            </value>
        </filters>
        <object>Campaign</object>
        <outputReference>store_Campaign</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>1634</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>Contact_added_to_Campaign__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>2388</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Account_is_a_Client</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Should_be_sent_survey__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contact_added_to_Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Inactive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>store_Campaign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
</Flow>
